<div class="container">

  <h1 class="title">QOUTES</h1>
  <div class="row">
    <div class="col-md-6"><app-qoute-form (addQoute)="addNewQoute($event)"></app-qoute-form></div>

      <div class="col-md-6">
    <div *ngFor="let qoute of qoutes,let i = index"><h4 appHighlight>{{qoute.qoute}}</h4>

      
      <button (click)="toggle(i)" class="btn btn-primary">tap here</button>
          
        
        <div *ngIf="qoute.showAuthor" >
         
          

            <app-qoute-details  *ngIf="qoute.showAuthor" (isComplete)='qouteDelete($event,i)' [qoute]='qoute' ></app-qoute-details>
            
            </div>
            

            
          
       

   
    </div>
  
    </div>

    

   
  </div>

</div>