<form  (ngSubmit)="submit()" #qouteForm='ngForm' ngNativeValidate  >
    <div class="form-group">
        <label for = "qoute">Enter qoute</label>
        <input type="text" class="form-control" id="qoute" [(ngModel)]="newQoute.qoute" name="name"  #name="ngModel" required>

    </div>

    <div class="form-group">
        <label for = "author">Enter author</label>
        <input type="text" class="form-control" id="author"  [(ngModel)]="newQoute.author" name="author" required>

    </div>
    <div class="form-group">
        <label for = "submitter">Enter your name</label>
        <input type="text" class="form-control" id="submitter" [(ngModel)]="newQoute.user" name="user" required >

    </div>

    <div class="form-group">
        <label for = "date">Enter date</label>
        <input type="date" class="form-control" id="date" [(ngModel)]="newQoute.dateCreated" name="date" required>

    </div>


    <button  type="submit" ng-click="reset()" class="btn btn-success">Create qoute</button>

    



</form>
